{
    "presets": [
      "@babel/preset-typescript",
      ["@babel/preset-env", {
        "targets": {
          "node": "6"
        }
      }],
    ],
    "plugins": [
      "transform-es2015-modules-commonjs",
      "add-module-exports"
    ]
  }